@use "../../../styles/mixins" as *;

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f5f5;
  @include screen(small) {
    flex-direction: row;
    align-items: center;
  }
  &__image {
    background-image: url(./../../../assets/images/contact.png);
    background-position-y: center;
    background-size: cover;
    height: 791px;
    min-height: 400px;
  }
}

.contact-title {
  margin: 1.5rem 0;
  max-width: 15rem;
}
