<footer class="footer-section">
  <figure class="footer-section-logo">
    <img src="./assets/images/logo-dark.png" alt="logo" />
  </figure>
  <div class="my-5 footer-section-info">
    <div>
      <span>Dejanos un mensaje</span>
      <span class="d-block mt-1 mb-3">Diversificar tu patrimonio. </span>
      <button type="button" class="btn btn-invien px-3">Contacto</button>
    </div>
    <div>
      <span>Contacto</span>
      <a href="tel:+52 6624247136">+52 662 424 7136</a>
      <a href="mailto:invien@invien.mx">{{ "invien@invien.mx" }}</a>
    </div>
    <div>
      <span>Visitanos</span>
      <span> Blvd. Fco. Eusebio kino # 514 </span>
      <span>Colonia Pitic Hermosillo, Sonora. </span>
      <span>Código postal 83150</span>
    </div>
  </div>
  <div class="footer-section-map">
    <div class="footer-section-links">
      <a routerLink="about-us">Acerca de Nosotros</a>
      <a routerLink="our-services">Servicios</a>
      <a routerLink="properties">Propiedades</a>
      <a routerLink="advisers">Asesorias</a>
      <a href="">Contacto</a>
    </div>
    <div class="footer-section-social">
      <a href="">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="">
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>
  </div>
  <hr />
  <div class="footer-section-legal">
    <span>© 2024 Invien. Todos los derechos reservados.</span>
    <span>
      Powered by
      <a href="https://www.nomadasmedia.com/" target="_blank">Nómadas Media</a>
    </span>
  </div>
</footer>
