<footer class="footer-section">
  <figure class="footer-section-logo">
    <img src="../assets/images/logo-dark.png" alt="logo" />
  </figure>
  <div class="my-5 footer-section-info">
    <div>
      <span>Dejanos un mensaje</span>
      <span class="d-block my-3">Diversificar tu patrimonio. </span>
      <button type="button" class="btn btn-invien px-3">Contacto</button>
    </div>
    <div>
      <span>Contacto</span>
      <span>+52 662 424 7136</span>
      <span>{{ "invien@invien.mx" }}</span>
    </div>
    <div>
      <span>Visitanos</span>
      <span> Blvd. Fco. Eusebio kino # 514 </span>
      <span>Colonia Pitic Hermosillo, Sonora. </span>
      <span>Código postal 83150</span>
    </div>
  </div>
  <div class="footer-section-map">
    <div class="footer-section-links">
      <a href="">Acerca de Nosotros</a>
      <a href="">Servicios</a>
      <a href="">Propiedades</a>
      <a href="">Asesorias</a>
      <a href="">Contacto</a>
    </div>
    <div class="footer-section-social">
      <a href="">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="">
        <i class="bi bi-twitter-x"></i>
      </a>
    </div>
  </div>
  <hr />
  <div class="footer-section-legal">
    <span>© 2024 Invien. Todos los derechos reservados.</span>
    <a href="">Terminos de Servicio</a>
  </div>
</footer>
