<footer class="footer-section">
  <figure class="footer-section-logo">
    <img src="./assets/images/logo-dark.png" alt="logo" />
  </figure>
  <div class="my-5 footer-section-info">
    <div>
      <span i18n="@@footer-leave">Déjanos un mensaje</span>
      <span class="d-block mt-1 mb-3" i18n="@@footer-diversify"
        >Diversificar tu patrimonio.
      </span>
      <button
        type="button"
        class="btn btn-invien px-3"
        i18n="@@contact"
        (click)="onContact()"
      >
        Contacto
      </button>
    </div>
    <div>
      <span i18n="@@contact">Contacto</span>
      <a href="tel:+52 6624247136">+52 662 424 7136</a>
      <a href="mailto:invien@invien.mx">{{ "invien@invien.mx" }}</a>
    </div>
    <div>
      <span i18n="@@footer-visit">Visítanos</span>
      <span> Blvd. Fco. Eusebio kino # 514 </span>
      <span>Colonia Pitic Hermosillo, Sonora. </span>
      <span i18n="@@footer-postal">Código postal 83150</span>
    </div>
  </div>
  <div class="footer-section-map">
    <div class="footer-section-links">
      <a routerLink="about-us" i18n="@@about-us">Acerca de Nosotros</a>
      <a routerLink="our-services" i18n="@@services">Servicios</a>
      <a routerLink="properties" i18n="@@properties">Propiedades</a>
      <a routerLink="advisers" i18n="@@advisors">Asesores</a>
      <a href="#contact" i18n="@@contact">Contacto</a>
    </div>
    <div class="footer-section-social">
      <a
        href="https://www.instagram.com/invien.mx?igsh=MTE1ZHJlNGtla3kxMw==https://www.instagram.com/invien.mx?igsh=MTE1ZHJlNGtla3kxMw=="
        target="_blank"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="https://www.facebook.com/share/aWHu4WGKz9Q4HgX7/?mibextid=wwXIfr"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
    </div>
  </div>
  <hr />
  <div class="footer-section-legal">
    <span i18n="@@footer-reserved"
      >© {{ year }} Invien. Todos los derechos reservados.</span
    >
    <span>
      Powered by
      <a href="https://www.nomadasmedia.com/" target="_blank">Nómadas Media</a>
    </span>
  </div>
</footer>
