<article class="our-services">
  <div class="our-services__main main">
    <h1>Nuestros Servicios</h1>
  </div>
  <div class="our-services__info section">
    <figure class="col">
      <img src="./assets/images/rating.png" alt="" />
    </figure>
    <div class="our-services__info-info col">
      <h2 class="title">Valoración Profesional</h2>
      <div>
        <div class="our-services__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Análisis Exhaustivo</span>
        </div>
        <span class="our-services__info-desc">
          Realizamos una valoración precisa de tu propiedad y un estudio
          detallado del mercado para determinar el valor óptimo de tu propiedad.
        </span>
      </div>
      <div>
        <div class="our-services__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Inspección Profesional</span>
        </div>
        <span class="our-services__info-desc">
          Se visitará tu propiedad para evaluar sus características y
          condiciones únicas. Gestionamos las visitas de los interesados,
          asegurándonos de presentar tu propiedad en su mejor momento.
        </span>
      </div>
    </div>
  </div>
  <div class="our-services__info our-services__info--reverse section pt-0">
    <div class="our-services__info-info col">
      <h2 class="title">Alcance Global</h2>
      <div>
        <div class="our-services__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Eventos Exclusivos</span>
        </div>
        <span class="our-services__info-desc">
          Organizamos eventos y visitas privadas para atraer a potenciales
          compradores de alto perfil.
        </span>
      </div>
      <div>
        <div class="our-services__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Acceso a Compradores Calificados</span>
        </div>
        <span class="our-services__info-desc">
          Gracias a nuestra extensa red y alianzas estratégicas, tu propiedad
          estara al alcance de una audiencia global de compradores calificados.
        </span>
      </div>
    </div>
    <figure class="col">
      <img src="./assets/images/spaces.png" alt="" />
    </figure>
  </div>
  <div class="our-services__banner">
    <p>
      Fusionamos <span>modernidad y funcionalidad</span> para crear un entorno
      único que refleja nuestra pasión por la
      <span>excelencia en el mundo inmobiliario.</span>
    </p>
  </div>
  <div class="our-services-gray">
    <div class="our-services__info section">
      <figure class="col">
        <img src="./assets/images/marketing.png" alt="" />
      </figure>
      <div class="our-services__info-info col">
        <h2 class="title">Marketing</h2>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span>Plan Personalizado </span>
          </div>
          <span class="our-services__info-desc">
            Diseñamos una estrategia de marketing adaptada a tu propiedad,
            utilizando las mejores herramientas y plataformas para atraer
            compradores potenciales.
          </span>
        </div>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span>Fotografía y Video Profesional</span>
          </div>
          <span class="our-services__info-desc">
            Capturamos imágenes y videos de alta calidad para destacar los
            puntos fuertes de tu propiedad.
          </span>
        </div>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span>Promoción</span>
          </div>
          <span class="our-services__info-desc">
            Listamos tu propiedad en los principales portales inmobiliarios,
            redes sociales y nuestra base de datos exclusiva de clientes.
          </span>
        </div>
      </div>
    </div>
    <div class="our-services__info our-services__info--reverse section pt-0">
      <div class="our-services__info-info col">
        <h2 class="title">Gestion Integral</h2>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span>Asesoría Legal y Notarial</span>
          </div>
          <span class="our-services__info-desc">
            Te acompañamos en todo el proceso legal, asegurándonos de que todos
            los documentos estén en orden y que el cierre se realice sin
            contratiempos.
          </span>
        </div>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span>Negociación y Cierre</span>
          </div>
          <span class="our-services__info-desc">
            Nuestro equipo gestiona todo el proceso de negociación para obtener
            las mejores condiciones para ti.
          </span>
        </div>
        <div>
          <div class="our-services__info-item">
            <img src="./assets/icons/check.png" alt="" />
            <span> Seguimiento Post-Venta</span>
          </div>
          <span class="our-services__info-desc">
            Continuamos ofreciéndote apoyo y asesoría incluso después de la
            venta, asegurando tu completa satisfacción.
          </span>
        </div>
      </div>
      <figure class="col">
        <img src="./assets/images/integral.png" alt="" />
      </figure>
    </div>
  </div>
</article>
<app-carousel-properties />
