@use "../../../styles/mixins" as *;

.our-services {
  &__main {
    background-image: url(./../../../assets/images/services.png);
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    &--reverse {
      flex-direction: column-reverse;
    }
    @include screen(small) {
      flex-direction: row;
      align-items: center;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include screen(small) {
        gap: 2rem;
      }
    }
    &-item {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;
      > img {
        width: 1.5rem;
        height: 1.5rem;
      }
      > span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    &-desc {
      display: block;
      max-width: 400px;
      color: #4b4b4b;
      font-size: 0.88rem;
    }
  }
  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 1rem;
    text-align: center;
    background-image: url(./../../../assets/images/services-info.png);
    background-position-y: center;
    background-size: cover;
    > p,
    span {
      font-size: 1.7rem;
      color: #fff;
    }
    > p {
      max-width: 750px;
      > span {
        font-family: gilroy-bold;
      }
    }
  }
}
.our-services-gray {
  background-color: #f5f5f5;
}
