<header
  id="header"
  class="header navbar navbar-transparent navbar-fixed-top navbar-expand-lg custom-navbar"
>
  <a href="#" class="navbar-brand">
    <img
      id="navbarLogo"
      class="logo"
      src="./assets/images/logo-invien.png"
      alt="Logo"
    />
    <img
      id="navbarLogo"
      class="logo"
      src="./assets/images/logo-dark.png"
      alt="Logo"
    />
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="header-navbar">
    <ul class="navbar-nav pb-3 pb-lg-0">
      <li class="nav-item me-2 me-xl-4 me-xxl-5">
        <a class="nav-link">Acerca de Nosotros</a>
      </li>
      <li class="nav-item me-2 me-xl-4 me-xxl-5">
        <a class="nav-link">Servicios</a>
      </li>
      <li class="nav-item me-2 me-xl-4 me-xxl-5">
        <a class="nav-link">Propiedades</a>
      </li>
      <li class="nav-item me-2 me-xl-4 me-xxl-5">
        <a class="nav-link">Asesores</a>
      </li>
      <li class="nav-item me-2 me-xl-4 me-xxl-5">
        <a class="nav-link">Contacto</a>
      </li>
    </ul>
  </div>
  <button
    class="btn btn-menu"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#header-navbar"
  >
    <img width="30" src="./assets/icons/menu.png" alt="menu" />
  </button>
  <div class="nav-i18n">
    <a href="">ESP</a>
    <div>|</div>
    <a href="">ENG</a>
  </div>
</header>
