@if (!loading) {
  <article class="property-detail">
    <div class="property-detail__print-img">
      @for (item of property.images; track $index) {
        <figure>
          <img
            class="property-detail__carousel-img"
            [src]="apiUrl + item"
            [alt]="item"
          />
        </figure>
      }
    </div>
    <div
      id="carouselExampleAutoplaying2"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        @for (item of property.images; track $index; let first = $first) {
          <div class="carousel-item" [class.active]="first">
            <img
              class="property-detail__carousel-img"
              [src]="apiUrl + item"
              [alt]="item"
            />
          </div>
        }
      </div>
      <div class="property-detail__carousel-btn">
        <button
          class="btn carousel-btn mx-2"
          type="button"
          data-bs-target="#carouselExampleAutoplaying2"
          data-bs-slide="prev"
        >
          <i class="bi bi-arrow-left"></i>
        </button>
        <button
          class="btn carousel-btn"
          type="button"
          data-bs-target="#carouselExampleAutoplaying2"
          data-bs-slide="next"
        >
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="property-detail__props section">
      <div>
        <h1 class="property-detail__props-title">{{ property.name }}</h1>
        <span class="property-detail__props-type"
          >{{ property.location }}, {{ property.state.state_es }},
          {{ property.town.town_es }}</span
        >
      </div>
      <div class="property-detail__props-features">
        <div>
          <img src="./assets/icons/measures.svg" alt="measures" />
          <span>{{ property.total_size }} m2</span>
          <span>Terreno</span>
        </div>
        <div>
          <img src="./assets/icons/measures.svg" alt="measures" />
          <span>{{ property.built_size }} m2</span>
          <span>Construccion</span>
        </div>
        <div>
          <img src="./assets/icons/room.svg" alt="room" />
          <span>{{ property.rooms }} Habitaciones</span>
        </div>
        <div>
          <img src="./assets/icons/bathroom.svg" alt="bathroom" />
          <span>{{ property.bathrooms }} Baños</span>
        </div>
        <div>
          <img src="./assets/icons/garage.svg" alt="garage" />
          <span>{{ property.garage }} Cochera</span>
        </div>
      </div>
      <div class="property-detail__props-price">
        <span>En Venta</span>
        <span
          >{{
            property.price
              | currency: property.currency : "symbol-narrow" : "1.2-2"
          }}
          {{ property.currency }}</span
        >
      </div>
    </div>
  </article>
  <div class="property-detail__description section">
    <div class="property-detail__description-content">
      <div class="property-detail__description-info">
        <div>
          <h2 class="property-detail__description-title">Descripción</h2>
          <div
            class="property-detail__description-text"
            [innerHTML]="property.description"
          ></div>
        </div>
        <div>
          <h2 class="property-detail__description-title">Detalles</h2>
          <div
            class="property-detail__description-text"
            [innerHTML]="property.details"
          ></div>
        </div>
        <div>
          <h3 class="property-detail__description-title">Amenidades</h3>
          @for (item of property.amenities; track $index) {
            <span class="property-detail__description-amenity">
              <img src="./assets/icons/check-gray.svg" alt="check-gray" />
              {{ item }}
            </span>
          }
        </div>
        <button class="btn btn-outline-primary" (click)="onPrintPdf()">
          <i class="bi bi-printer"></i> Imprimir Propiedad
        </button>
      </div>
      @if (property.advisor) {
        <app-form [advisor]="property.advisor" />
      }
    </div>
  </div>
  @if (property.url_video) {
    <div class="property-detail__video section">
      <iframe
        height="570"
        loading="lazy"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        [src]="property.url_video"
      ></iframe>
    </div>
  }
  <div class="section last-print">
    <iframe
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
      [src]="property.url_map"
    ></iframe>
  </div>
} @else {
  <div class="property-detail__loader">
    <app-loader />
  </div>
}
<app-carousel-properties />
