@if (!loading) {
<article class="property-detail">
  <div class="property-detail__print-img">
    @for (item of property.images; track $index) {
    <figure>
      <img
        class="property-detail__carousel-img"
        [src]="apiUrl + item"
        [alt]="item"
      />
    </figure>
    }
  </div>
  <div
    id="carouselExampleAutoplaying2"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      @for (item of property.images; track $index; let first = $first) {
      <div class="carousel-item" [class.active]="first">
        <img
          class="property-detail__carousel-img"
          [src]="apiUrl + item"
          [alt]="item"
        />
      </div>
      }
    </div>
    <div class="property-detail__carousel-btn">
      <button
        class="btn carousel-btn mx-2"
        type="button"
        data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="prev"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
      <button
        class="btn carousel-btn"
        type="button"
        data-bs-target="#carouselExampleAutoplaying2"
        data-bs-slide="next"
      >
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="property-detail__props section">
    <div>
      <h1 class="property-detail__props-title">{{ property.name }}</h1>
      <span class="property-detail__props-type"
        >{{ property.location }}, {{ property.state.name }},
        {{ property.town.name }}</span
      >
    </div>
    <div class="property-detail__props-features">
      <div>
        <img src="./assets/icons/total.png" alt="measures" />
        <span>{{ property.total_size }} m²</span>
        <span class="col-12" i18n="@@land">Terreno</span>
      </div>
      <div>
        <img src="./assets/icons/totalsize.png" alt="measures" />
        <span>{{ property.built_size }} m²</span>
        <span class="col-12" i18n="@@construction">Construcción</span>
      </div>
      <div>
        <img src="./assets/icons/rooms.png" alt="room" />
        <span>
          {{ property.rooms }}
          <ng-container i18n="@@rooms">Habitaciones</ng-container>
        </span>
      </div>
      <div>
        <img src="./assets/icons/bathroom.png" alt="bathroom" />
        <span>
          {{ property.bathrooms }}
          <ng-container i18n="@@bathrooms">Baños</ng-container>
        </span>
      </div>
      <div>
        <img src="./assets/icons/garage.png" alt="garage" />
        <span>
          {{ property.garage }}
          <ng-container i18n="@@garage">Cochera</ng-container>
        </span>
      </div>
    </div>
    <div class="property-detail__props-price">
      <span>
        @if (property.is_for === "sale") {
        <ng-container i18n="@@sale">VENTA</ng-container>
        } @else {
        <ng-container i18n="@@rent">RENTA</ng-container>
        }
      </span>
      <span
        >$
        {{
          localeService.current === "es"
            ? (property.price_mxn | currency : "MXN" : "" : "1.0-0") + " MXN"
            : (property.price_usd | currency : "USD" : "" : "1.0-0") + " USD"
        }}
      </span>
    </div>
  </div>
</article>
<div class="property-detail__description section">
  <div class="property-detail__description-content">
    <div class="property-detail__description-info">
      <div>
        <h2 class="property-detail__description-title" i18n="@@description">
          Descripción
        </h2>
        <div
          class="property-detail__description-text"
          [innerHTML]="property.description"
        ></div>
      </div>
      <div>
        <h2 class="property-detail__description-title" i18n="@@details">
          Detalles
        </h2>
        <div
          class="property-detail__description-text"
          [innerHTML]="property.details"
        ></div>
      </div>
      <div>
        <h3 class="property-detail__description-title" i18n="@@amenities">
          Amenidades
        </h3>
        <div class="property-detail__description-amenities">
          @for (item of property.amenities; track $index) {
          <span class="property-detail__description-amenity">
            <img src="./assets/icons/check-gray.svg" alt="check-gray" />
            {{ item }}
          </span>
          }
        </div>
      </div>
      <a
        class="btn btn-outline-primary"
        href="print-property/{{ property.id }}"
        target="_blank"
      >
        <i class="bi bi-printer"></i>&nbsp;
        <ng-container i18n="@@prop-detail-print"
          >Imprimir Propiedad</ng-container
        >
      </a>
    </div>
    @if (property.advisor) {
    <app-form [advisor]="property.advisor" />
    }
  </div>
</div>
<div class="row px-3 py-5">
  <div class="last-print col-sm-12 col-md-6">
    <iframe
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      referrerpolicy="no-referrer-when-downgrade"
      [src]="property.url_map"
    ></iframe>
  </div>
  @if (property.url_video) {
  <div class="property-detail__video col-sm-12 col-md-6">
    <iframe
      height="450"
      loading="lazy"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      [src]="property.url_video"
    ></iframe>
  </div>
  }
</div>
} @else {
<div class="property-detail__loader">
  <app-loader />
</div>
}
<app-carousel-properties />
