<article class="properties">
  <div class="properties__main">
    <h1 class="properties__title">Propiedades</h1>
  </div>
  <div class="properties__filter">
    <span>Comienza a invertir</span>
    <h2>Propiedades Seleccionadas</h2>
    <app-property-filter />
  </div>
  <div class="properties__list">
    @for (item of properties; track $index) {
    <app-property [property]="item" [info]="item.price" />
    }
  </div>
  <div class="properties__pagination">
    <button class="btn carousel-btn" type="button">
      <i class="bi bi-arrow-left"></i>
    </button>
    <span>1</span>
    <button class="btn carousel-btn" type="button">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</article>
