.properties {
  &__main {
    background-image: url(./../../../assets/images/properties.png);
  }
  &__filter {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }
  &__list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    max-width: 1100px;
    margin: 0 auto;
  }
  &__pagination {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 0;
    &-num {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      &--active {
        border-radius: 50%;
        background-color: var(--primary);
        color: #fff;
      }
      > button {
        cursor: pointer;
        padding: 0.2rem 0.75rem;
      }
    }
  }
}
