<article class="properties">
  <div class="properties__main main">
    <h1>Propiedades</h1>
  </div>
  <div class="properties__filter section pb-5">
    <span class="subtitle">Comienza a invertir</span>
    <h2 class="title">Propiedades Seleccionadas</h2>
    <app-property-filter (newFilter)="onGetProperties($event)" />
  </div>
  <div class="section pt-0">
    <div class="properties__list">
      @if (!loading) {
        @for (item of properties; track $index) {
          <app-property [property]="item" />
        }
      } @else {
        <app-property-skeleton />
        <app-property-skeleton />
        <app-property-skeleton />
        <app-property-skeleton />
        <app-property-skeleton />
        <app-property-skeleton />
      }
    </div>
    @if (!properties.length && !loading) {
      <app-no-data message="No hay propiedades disponibles" />
    }
    <app-pagination
      [pagination]="pagination"
      (params)="onGetProperties($event)"
    />
  </div>
</article>
