<article
  id="carouselExampleCaptions"
  class="carousel comments slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <span i18n="@@comments-first">
        “Gracias a Invien encontré la propiedad perfecta sin estrés ni demoras.
        Su equipo me guió en cada paso y resolvieron todas mis dudas.
        ¡Totalmente recomendado!”
      </span>
      <span>
        -
        <ng-container>María G., </ng-container>
        <ng-container i18n="@@comments-buyer">Compradora</ng-container>
      </span>
    </div>
    <div class="carousel-item">
      <span i18n="@@comments-second">
        “Invien hizo que comprar mi primera casa fuera una experiencia
        increíble. Me acompañaron desde la búsqueda hasta la firma, siempre con
        atención personalizada y respuestas rápidas. ¡Servicio de 10!”
      </span>
      <span>
        -
        <ng-container>Carlos M., </ng-container>
        <ng-container i18n="@@comments-buyer">Comprador</ng-container>
      </span>
    </div>
    <div class="carousel-item">
      <span i18n="@@comments-three"
        >“No tenía experiencia comprando inmuebles, pero con Invien todo fue
        claro y fácil. Me ayudaron a encontrar la mejor opción y a cerrar el
        trato sin complicaciones. ¡Gran equipo!”</span
      >
      <span>
        -
        <ng-container>Laura S., </ng-container>
        <ng-container i18n="@@comments-buyer">Compradora</ng-container>
      </span>
    </div>
  </div>
</article>
