.comments {
  background-image: url(./../../../../assets/images/comments.png);
  background-size: cover;
  background-position-y: center;
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .carousel-item {
    padding: 8rem 1rem;
    text-align: center;
    > span {
      display: block;
      color: #fff;
      &:first-child {
        font-size: 1.7rem;
        max-width: 42rem;
        margin: 0 auto 1.5rem;
      }
    }
  }
}
