<main class="main">
  <h1 class="title">
    Transformamos
    <span> tu </span>
    <span>Inversión</span>
    <span> en </span>
    <span>Oportunidades</span>
  </h1>
  <div class="home-content-menu ms-1">
    <ul class="nav home-menu-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          href="#venta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1 active custom-rounded-start"
          role="tab"
          aria-selected="true"
          >Compra</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          href="#renta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Renta</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          routerLink="/sell"
          class="nav-link flex-grow-1 custom-rounded-end"
          tabindex="-1"
          >Vende</a
        >
      </li>
    </ul>
    <div class="tab-content pb-3">
      <div class="tab-pane fade active show" id="venta-tab" role="tabpanel">
        <app-property-filter />
      </div>
      <div class="tab-pane fade" id="renta-tab" role="tabpanel">
        <app-property-filter />
      </div>
    </div>
  </div>
</main>
<app-carousel-properties class="home-page__carousel" />
<div class="p-3">
  <article class="why-invest">
    <figure class="col">
      <img src="./assets/images/invest.png" alt="invest" />
    </figure>
    <div class="col">
      <h3 class="why-invest-title">¿Por qué invertir en bienes raíces?</h3>
      <p>
        Invertir en bienes raíces es una de las formas más seguras de hacer
        crecer y diversificar tu patrimonio.
      </p>
      <p>
        Este tipo de inversión no solo te ofrece la posibilidad de generar
        ingresos estables a través de rentas, sino que también se beneficia de
        la plusvalía, es decir, el aumento del valor de las propiedades con el
        paso del tiempo.
      </p>
      <div class="why-invest-options">
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span>Diversifica tu Patrimonio</span>
        </div>
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span>Genera Ingresos Estables</span>
        </div>
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span>Gana mas por tu Inversion</span>
        </div>
      </div>
    </div>
  </article>
</div>
<app-comments />
<app-carousel
  titlePrimary="CONOCE AL EQUIPO"
  subtitle="Tu Propiedad en las Mejores Manos"
  viewAll="/advisers"
  id="advisers"
>
  @for (advisers of slidesAdvisers; track $index; let isFirst = $first) {
  <div class="carousel-item" [class.active]="isFirst">
    <div class="carousel-primary-content-card">
      @for (item of advisers; track $index) {
      <app-adviser class="col" [adviser]="item" />
      }
    </div>
  </div>
  }
</app-carousel>
