<main class="home-page">
  <video
    #video
    autoplay
    muted
    loop
    preload="auto"
    playsinline
    class="home-page__video"
  >
    <source src="./assets/video/main.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>
  <h1 i18n="@@home-page-title" class="home-page__title">
    Transformamos
    <span> tu </span>
    <span>Inversión</span>
    <span> en </span>
    <span>Oportunidades</span>
  </h1>
  <div class="home-content-menu ms-1">
    <ul class="nav home-menu-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          href="#venta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1 active custom-rounded-start"
          role="tab"
          aria-selected="true"
          i18n="@@buy"
          (click)="toggleTab('sale')"
          >Compra</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          href="#renta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          i18n="@@rent-lower"
          (click)="toggleTab('rent')"
          >Renta</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          routerLink="/sell"
          class="nav-link flex-grow-1 custom-rounded-end"
          tabindex="-1"
          i18n="@@sell"
          >Vende</a
        >
      </li>
    </ul>
    <div class="tab-content pb-3">
      <div class="tab-pane fade active show" id="venta-tab" role="tabpanel">
        <app-property-filter [isFor]="isFor" [isHomePage]="true" />
      </div>
      <div class="tab-pane fade" id="renta-tab" role="tabpanel">
        <app-property-filter [isFor]="isFor" [isHomePage]="true" />
      </div>
    </div>
  </div>
</main>
<app-carousel-properties class="home-page__carousel" />
<div class="section">
  <article class="why-invest">
    <figure class="col">
      <img src="./assets/images/invest.jpg" alt="invest" />
    </figure>
    <div class="col">
      <h3 class="why-invest-title title" i18n="@@home-page-why-invest">
        ¿Por qué invertir en bienes raíces?
      </h3>
      <p i18n="@@home-page-investing">
        Invertir en bienes raíces es una de las formas más seguras de hacer
        crecer y diversificar tu patrimonio.
      </p>
      <p i18n="@@home-page-this-type">
        Este tipo de inversión no solo te ofrece la posibilidad de generar
        ingresos estables a través de rentas, sino que también se beneficia de
        la plusvalía, es decir, el aumento del valor de las propiedades con el
        paso del tiempo.
      </p>
      <div class="why-invest-options">
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span i18n="@@home-page-diversify">Diversifica tu Patrimonio</span>
        </div>
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span i18n="@@home-page-generate">Genera Ingresos Estables</span>
        </div>
        <div>
          <img src="./assets/icons/check.png" alt="check" />
          <span i18n="@@home-page-maximize">Gana más por tu Inversión</span>
        </div>
      </div>
    </div>
  </article>
</div>
<app-comments />
<app-carousel
  [titlePrimary]="advisorTitle"
  [subtitle]="advisorSubtitle"
  viewAll="/advisers"
  id="advisers"
>
  @for (advisers of slidesAdvisers; track $index; let isFirst = $first) {
  <div class="carousel-item" [class.active]="isFirst">
    <div class="carousel-primary-content-card">
      @for (item of advisers; track $index) {
      <app-adviser class="home-page__adviser" [adviser]="item" />
      }
    </div>
  </div>
  }
</app-carousel>
