<main class="main">
  <h1 class="title">
    Transformamos
    <span> tu </span>
    <span>Inversión</span>
    <span> en </span>
    <span>Oportunidades</span>
  </h1>
  <div class="home-content-menu ms-1">
    <ul class="nav home-menu-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          href="#venta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1 active custom-rounded-start"
          role="tab"
          aria-selected="true"
          >Compra</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          href="#renta-tab"
          data-bs-toggle="tab"
          class="nav-link flex-grow-1"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Vende</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          href="#"
          class="nav-link flex-grow-1 custom-rounded-end"
          id="openModalSell"
          role="tab"
          aria-selected="false"
          tabindex="-1"
          >Renta</a
        >
      </li>
    </ul>
    <div class="tab-content home-menu-panel pb-3">
      <div class="tab-pane fade active show" id="venta-tab" role="tabpanel">
        <form class="form">
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle property-type-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Tipo de propiedad
              <span class="form-select"> Selecciona el tipo de propiedad </span>
            </button>
            <ul
              class="dropdown-menu property-type-menu"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Casa</a></li>
              <li>
                <a class="dropdown-item" href="#">Departamento</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno residencial</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno comercial</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno industrial</a>
              </li>
              <li><a class="dropdown-item" href="#">Local</a></li>
              <li><a class="dropdown-item" href="#">Oficina</a></li>
              <li>
                <a class="dropdown-item" href="#">Bodega industrial</a>
              </li>
              <li><a class="dropdown-item" href="#">Edificio</a></li>
              <li><a class="dropdown-item" href="#">Otros</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle country-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              País
              <span class="form-select"> Ej. Mexico, Estados Unidos </span>
            </button>
            <ul
              class="dropdown-menu country-menu"
              aria-labelledby="dropdownMenuButton2"
            >
              <li><a class="dropdown-item" href="#">México</a></li>
              <li>
                <a class="dropdown-item" href="#">Estados Unidos</a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle state-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Estado
              <span class="form-select"> Selecciona un estado </span>
            </button>
            <ul
              class="dropdown-menu state-menu"
              aria-labelledby="dropdownMenuButton3"
            >
              <li><a class="dropdown-item" href="#">Sonora</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle municipality-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Municipio
              <span class="form-select"> Selecciona un municipio </span>
            </button>
            <ul
              class="dropdown-menu municipality-menu"
              aria-labelledby="dropdownMenuButton4"
            >
              <li><a class="dropdown-item" href="#">Hermosillo</a></li>
              <li><a class="dropdown-item" href="#">San Carlos</a></li>
            </ul>
          </div>
          <div class="col d-flex align-items-center btnSearch">
            <button type="button" class="btn norBtnInvien px-4">Buscar</button>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="renta-tab" role="tabpanel">
        <form class="form">
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle property-type-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Tipo de propiedad
              <span class="form-select"> Selecciona el tipo de propiedad </span>
            </button>
            <ul
              class="dropdown-menu property-type-menu"
              aria-labelledby="dropdownMenuButton1"
            >
              <li><a class="dropdown-item" href="#">Casa</a></li>
              <li>
                <a class="dropdown-item" href="#">Departamento</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno residencial</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno comercial</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Terreno industrial</a>
              </li>
              <li><a class="dropdown-item" href="#">Local</a></li>
              <li><a class="dropdown-item" href="#">Oficina</a></li>
              <li>
                <a class="dropdown-item" href="#">Bodega industrial</a>
              </li>
              <li><a class="dropdown-item" href="#">Edificio</a></li>
              <li><a class="dropdown-item" href="#">Otros</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle country-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              País
              <span class="form-select"> Ej. Mexico, Estados Unidos </span>
            </button>
            <ul
              class="dropdown-menu country-menu"
              aria-labelledby="dropdownMenuButton2"
            >
              <li><a class="dropdown-item" href="#">México</a></li>
              <li>
                <a class="dropdown-item" href="#">Estados Unidos</a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle state-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Estado
              <span class="form-select"> Selecciona un estado </span>
            </button>
            <ul
              class="dropdown-menu state-menu"
              aria-labelledby="dropdownMenuButton3"
            >
              <li><a class="dropdown-item" href="#">Sonora</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-custom dropdown-toggle municipality-dropdown"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Municipio
              <span class="form-select"> Selecciona un municipio </span>
            </button>
            <ul
              class="dropdown-menu municipality-menu"
              aria-labelledby="dropdownMenuButton4"
            >
              <li><a class="dropdown-item" href="#">Hermosillo</a></li>
              <li><a class="dropdown-item" href="#">San Carlos</a></li>
            </ul>
          </div>
          <div class="col d-flex align-items-center btnSearch">
            <button type="button" class="btn norBtnInvien px-4">Buscar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
