<div role="button" class="property" (click)="redirectProperty()">
  <img
    class="property__img"
    [src]="apiUrl + property.images[0]"
    [alt]="property.name"
  />
  <div class="property__desc">
    <span>{{ property.name }}</span>
  </div>
  <div class="property__terrain">
    <span>
      @if (property.is_for === "sale") {
        <ng-container i18n="@@sale">VENTA</ng-container>
      } @else {
        <ng-container i18n="@@rent">RENTA</ng-container>
      }
    </span>
    <span>
      $
      {{
        localeService.current === "es"
          ? (property.price_mxn | currency: "MXN" : "" : "1.2-2")
          : (property.price_usd | currency: "USD" : "" : "1.2-2")
      }}
    </span>
    <span>{{ property.total_size }} m2 </span>
  </div>
</div>
