%ellipsis {
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.property {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &__img {
    max-width: 340px;
    max-height: 420px;
    height: 100%;
    border-radius: 0.5rem;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
  &__desc {
    display: flex;
    align-items: center;
    gap: 1rem;
    > span {
      &:nth-child(1) {
        @extend %ellipsis;
        font-size: 1.3rem;
      }
      &:nth-child(2) {
        color: var(--primary);
      }
      &:nth-child(3) {
        @extend %ellipsis;
        font-size: 0.84rem;
        color: #4f4f4f;
      }
    }
  }
  &__terrain {
    display: flex;
    gap: 1rem;
    color: #4f4f4f;
    > span {
      font-size: 0.8rem;
    }
  }
  &__info {
    display: block;
    color: #4f4f4f;
  }
}
