<div role="button" class="property" (click)="redirectProperty()">
  <img
    class="property__img"
    [src]="apiUrl + property.images[0]"
    [alt]="property.name"
  />
  <div class="property__desc">
    <span>{{ property.name }}</span>
  </div>
  <div class="property__terrain">
    <span>
      @if (property.is_for === "sale") {
        <ng-container i18n="@@sale">VENTA</ng-container>
      } @else {
        <ng-container i18n="@@rent">RENTA</ng-container>
      }
    </span>
    <span>
      $ {{ property.price | currency: property.currency : "" : "1.2-2" }}
      {{ property.currency }}
    </span>
  </div>
</div>
