<div role="button" class="property" (click)="redirectProperty()">
  <img
    class="property__img"
    [src]="apiUrl + property.images[0]"
    [alt]="property.name"
  />
  <div class="property__desc">
    <span>{{ property.name }}</span>
    <span>●</span>
    <span>{{ property.location }}</span>
  </div>
  <div class="property__terrain">
    <span
      >{{ property.total_size }} m2
      <ng-container i18n="@@land">Terreno</ng-container>
    </span>
    <span>{{ property.built_size }} m2 Total</span>
  </div>
  <!-- <span class="property__info">{{ info }}</span> -->
</div>
