/* You can add global styles to this file, and also import other style files */
@use "mixins" as *;

$primary: #ec1c24;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: bell;
  src: url(./../assets/fonts/Bell\ MT.ttf);
}

@font-face {
  font-family: bell-i;
  src: url(./../assets/fonts/BELLI.TTF);
}

@font-face {
  font-family: gilroy;
  src: url(./../assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(./../assets/fonts/Gilroy-SemiBold.ttf);
}

* {
  font-size: 15px;
  font-family: gilroy, Arial, Helvetica, sans-serif;
  @include screen(small) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  color: #000;
  overflow-x: hidden;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

p {
  font-size: 1rem;
}

.btn-invien {
  border-radius: 5px;
  color: #fff;
  background: var(--primary);
  transition: background 0.3s ease;
  font-weight: 400;
  &:hover {
    background: rgba(200, 24, 30, 1);
    color: #fff;
  }
}

.carousel-primary-content-card {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.properties .property-filter {
  @include specificity(2) {
    background-color: #f5f5f5;
  }
}

.carousel-btn,
.carousel-btn:hover,
.carousel-btn:focus,
.carousel-btn:active {
  border-radius: 50%;
  background-color: var(--primary);
  padding: 0.1rem 0.3rem;
  color: white;
  > i {
    font-size: 1.5rem;
  }
}

.carousel-btn:hover {
  background-color: rgb(200, 24, 30);
}

.title {
  font-size: 1.77rem;
  font-family: bell;
  font-weight: 400;
  @include screen(small) {
    font-size: 2.6rem;
  }
}

.subtitle {
  font-size: 1rem;
  color: var(--primary);
  @include screen(small) {
    font-size: 1.3rem;
  }
}

.main {
  padding: 1rem;
  background-position-y: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 50vh;
  > h1 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 400;
    @include screen(small) {
      font-size: 3.7rem;
    }
  }
  @include screen(small) {
    min-height: 100vh;
  }
}

.section {
  padding: 3.5rem 1rem;
  @include screen(small) {
    padding: 5.3rem 1rem;
  }
}

:root {
  --primary: #ec1c24;
}
