<article class="properties">
  <div class="properties__main main">
    <h1 i18n="@@projects">Proyectos</h1>
  </div>
  <div class="properties__filter section pb-5">
    <span class="subtitle" i18n="@@properties-subtitle"
      >COMIENZA A INVERTIR</span
    >
    <h2 class="title" i18n="@@projects-selected">Proyectos Inmobiliarios</h2>
    <app-project-filter (newFilter)="onGetProjects($event)" />
  </div>
  <div class="section pt-0">
    <div class="properties__list">
      @if (!loading) { @for (item of projects; track $index) {
      <app-project [project]="item" />
      } } @else {
      <app-property-skeleton />
      <app-property-skeleton />
      <app-property-skeleton />
      <app-property-skeleton />
      <app-property-skeleton />
      <app-property-skeleton />
      }
    </div>
    @if (!projects.length && !loading) {
    <app-no-data [message]="noProjects" />
    }
    <app-pagination
      [pagination]="pagination"
      (params)="onGetProjects($event)"
    />
  </div>
</article>
