@import "./main.css";

.whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1100;
  text-decoration: none;
}

.whatsapp-button > i {
  font-size: 30px;
}

.main {
  padding: 1rem;
  background-image: url(./../images/invien.png);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  padding: 0 1rem;
}

.header .navbar-brand > img:last-child {
  display: none;
}

.header.navbar-transparent.navbar-sm .btn-menu {
  filter: brightness(0);
}

.header.navbar-transparent.navbar-sm .navbar-brand > img:last-child {
  display: block;
}

.header.navbar-transparent.navbar-sm .navbar-brand > img:first-child {
  display: none;
}

.header.navbar-transparent .navbar-nav .nav-item .nav-link,
.header.navbar-transparent .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

.header.navbar-transparent.navbar-sm .nav-link,
.header.navbar-transparent.navbar-sm .nav-link:hover {
  color: #000 !important;
}

.title {
  padding-top: 150px;
  margin-bottom: 1rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  max-width: 550px;
}

.title > span:nth-child(even) {
  font-size: 3rem;
  font-family: bell-i;
}

.title > span:nth-child(odd) {
  font-size: 2rem;
}

.btn-custom {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #000;
  box-shadow: none;
  outline: none;
  padding: 0.375rem 0;
  width: 100%;
  text-align: left;
  font-weight: 500;
  border-radius: 0;
}

.btn-custom > span {
  color: #858585;
  font-size: 12px;
  padding: 0;
  border-style: none;
  font-weight: normal;
  white-space: nowrap;
  padding-right: 2rem;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active.btn-custom:active {
  background-color: transparent;
  color: #000;
  box-shadow: none;
}

.home-menu-panel {
  padding: 20px;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 1rem;
}

.norBtnInvien {
  border-radius: 5px;
  color: #fff;
  background: var(--primary);
  transition: background 0.3s ease;
  font-weight: 400;
}

.norBtnInvien:hover {
  background: rgba(200, 24, 30, 1);
  color: #fff;
}

.btnSearch > button {
  width: 100%;
}

.home-menu-tabs .nav-link {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  transition: color 0.3s;
  max-width: fit-content;
  padding: 0.5rem 1rem;
}

.home-menu-tabs .nav-link:hover,
.home-menu-tabs .nav-link.active {
  border-bottom: 2px solid white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*            STATE PROJECTS              */
.carousel-primary {
  padding: 3rem 1rem;
  background-color: #f5f5f5;
}

.carousel-primary-title {
  text-align: center;
  > p {
    font-size: 1.3rem;
    color: var(--primary);
    margin: 0;
  }
  > h2,
  > h4 {
    font-size: 2.6rem;
    font-family: bell;
    font-weight: 400;
    max-width: 28rem;
    margin: 0 auto 3rem;
  }
}

.carousel-primary .carousel {
  max-width: 1120px;
  margin: 0 auto;
}

.carousel-primary-content-card {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.carousel-primary-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.carousel-primary-gray {
  display: block;
  color: #4f4f4f;
}

.carousel-primary-desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.carousel-primary-desc > span:nth-child(1) {
  font-size: 1.3rem;
}

.carousel-primary-desc > span:nth-child(2) {
  color: var(--primary);
}

.carousel-primary-desc > span:nth-child(3) {
  font-size: 0.84rem;
  color: #4f4f4f;
}

.carousel-content-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.carousel-btn,
.carousel-btn:hover,
.carousel-btn:active.carousel-btn:active {
  border-radius: 50%;
  background-color: var(--primary);
  padding: 0.1rem 0.3rem;
  color: white;
}

.carousel-item > div:first-child {
  display: none;
}

/*           WHY INVEST          */
.why-invest {
  max-width: 1120px;
  margin: 3rem auto;
}

.why-invest-title {
  font-size: 2.6rem;
  font-family: bell;
  font-weight: 400;
  margin: 1.5rem 0;
  max-width: 22rem;
}

.why-invest p,
.why-invest span {
  color: #626262;
}

.why-invest-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}

.why-invest-options > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.why-invest-options > div > img {
  width: 20px;
}

.carousel-comments {
  background-color: black;
}

.carousel-comments .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-comments .carousel-item {
  padding: 8rem 1rem;
  text-align: center;
}

.carousel-comments .carousel-item > span {
  display: block;
  color: #fff;
}

.carousel-comments .carousel-item > span:first-child {
  font-size: 1.7rem;
  max-width: 42rem;
  margin: 0 auto 1.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f5f5f5;
}

.contact-form {
  padding: 1rem;
}

.contact-title {
  font-size: 2.6rem;
  font-family: bell;
  font-weight: 400;
  margin: 1.5rem 0;
  max-width: 15rem;
}

.contact .form-label,
.contact .form-control::placeholder {
  font-weight: 400;
}

.contact .form-control {
  border: 0;
}

.contact .form-control:focus {
  box-shadow: 0 0 0 0.25rem #ec1c2457;
}

@media screen and (min-width: 990px) {
  .header {
    padding: 0 3rem;
  }

  .main {
    padding: 2rem 3rem;
  }

  .home-menu-panel {
    max-width: fit-content;
  }

  .form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .form > div:not(:last-child, :nth-child(4)) {
    border-right: 1px solid #b9b9b9;
  }

  .btnSearch {
    justify-content: flex-end;
  }

  .btnSearch > button {
    width: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item > div:first-child {
    display: block;
    max-width: 370px;
    margin: 0 auto;
  }

  .carousel-item > div:last-child {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .why-invest {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .contact {
    flex-direction: row;
    align-items: center;
  }
}
