.carousel-primary {
  &__title {
    text-align: center;
    > p {
      margin: 0;
    }
    > h2 {
      max-width: 28rem;
      margin: 0 auto 3rem;
    }
  }
  &__content-btn {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .carousel {
    max-width: 1200px;
    margin: 0 auto;
  }
  .carousel-inner {
    max-height: 610px;
  }
}
