<article class="carousel-primary">
  <div class="carousel-primary__title">
    <p>{{ titlePrimary }}</p>
    <h2>{{ subtitle }}</h2>
  </div>
  <div
    id="carouselExampleAutoplaying2"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <ng-content />
    </div>
    <div class="carousel-primary__content-btn">
      <button type="button" class="btn btn-invien">Ver Todos</button>
      <div>
        <button
          class="btn carousel-btn mx-2"
          type="button"
          data-bs-target="#carouselExampleAutoplaying2"
          data-bs-slide="prev"
        >
          <i class="bi bi-arrow-left"></i>
        </button>
        <button
          class="btn carousel-btn"
          type="button"
          data-bs-target="#carouselExampleAutoplaying2"
          data-bs-slide="next"
        >
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</article>
