<article class="carousel-primary section">
  <div class="carousel-primary__title">
    <p class="subtitle">{{ titlePrimary }}</p>
    <h2 class="title">{{ subtitle }}</h2>
  </div>
  <div id="carousel-{{ id }}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-content />
    </div>
    <div class="carousel-primary__content-btn">
      <button type="button" class="btn btn-invien" [routerLink]="viewAll">
        Ver Todos
      </button>
      <div>
        <button
          class="btn carousel-btn mx-2"
          type="button"
          [attr.data-bs-target]="'#carousel-' + id"
          data-bs-slide="prev"
        >
          <i class="bi bi-arrow-left"></i>
        </button>
        <button
          class="btn carousel-btn"
          type="button"
          [attr.data-bs-target]="'#carousel-' + id"
          data-bs-slide="next"
        >
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</article>
