<div
  class="property"
  [class.property--link]="showPrice"
  (click)="redirectProject()"
>
  <img
    class="property__img"
    [src]="apiUrl + project.images[0]"
    [alt]="project.name"
  />
  <div class="property__desc">
    <span>{{ project.name }}</span>
  </div>
  <div class="property__terrain">
    @if(showPrice){
    <span i18n="@@properties-title"> Inversión desde </span>
    <span>
      $
      {{
        localeService.current === "es"
          ? (project.price_mxn | currency : "MXN" : "" : "1.0-0")
          : (project.price_usd | currency : "USD" : "" : "1.0-0")
      }}
    </span>
    }@else {
    <a
      class="text-primary text-center col-12"
      routerLink="/projects/{{ this.project.id }}"
      i18n="@@see-more"
      >Ver más</a
    >
    }
  </div>
</div>
