<article class="about-us">
  <div class="about-us__main">
    <h1 class="about-us__title">Acerca de Nosotros</h1>
  </div>
  <article class="we-are">
    <div>
      <figure class="col">
        <img src="./assets/images/we-are.png" alt="we-are" />
      </figure>
      <div class="col">
        <h2 class="we-are-title">
          Somos Una Propuesta Innovadora En El Mundo Inmobiliario
        </h2>
        <p>
          Nuestro propósito es ofrecer un servicio integral que va más allá de
          la intermediación tradicional. Escuchamos las necesidades de nuestros
          clientes y nos esforzamos por alcanzar sus objetivos con éxito.
        </p>
        <p>
          Desde la búsqueda y promotoria de propiedades, hasta la gestión de
          inversiones.
        </p>
      </div>
    </div>
  </article>
  <article class="banner">
    <p>
      Fusionamos <span>modernidad y funcionalidad</span> para crear un entorno
      único que refleja nuestra pasión por la
      <span>excelencia en el mundo inmobiliario.</span>
    </p>
  </article>
  <article class="spaces">
    <div>
      <div class="col">
        <h3 class="spaces-title">Espacios De Innovación Y Productividad</h3>
        <p>
          En Invien, nuestras oficinas son el núcleo de la innovación y la
          eficiencia en el sector inmobiliario. Diseñadas para potenciar la
          colaboración y la productividad, cada rincón de nuestro espacio de
          trabajo combina modernidad y confort, creando un ambiente ideal para
          el crecimiento profesional.
        </p>
        <p>
          Con tecnología de última generación, nuestras instalaciones reflejan
          nuestro compromiso con la excelencia en cada interacción con nuestros
          clientes. Te invitamos a conocer un lugar donde la inspiración y el
          éxito inmobiliario se encuentran.
        </p>
      </div>
      <figure class="col">
        <img src="./assets/images/spaces.png" alt="spaces" />
      </figure>
    </div>
  </article>
  <app-carousel-properties />
</article>
