@use "../../../../styles/mixins" as *;

.form {
  max-width: 550px;
  padding: 1rem;
  &__inputs {
    display: grid;
    gap: 1rem;
    @include screen(small) {
      grid-template-columns: repeat(2, 1fr);
      > div:nth-child(3),
      > div:last-child {
        grid-column: span 2;
      }
    }
  }
  .form-control {
    border: 0;
    &:focus {
      box-shadow: 0 0 0 0.25rem #ec1c2457;
    }
    &::placeholder {
      font-weight: 400;
    }
  }
  .form-label::placeholder {
    font-weight: 400;
  }

  .btn-invien:disabled {
    background-color: var(--primary);
    color: white;
  }
}
