<form class="property-filter">
  <div class="dropdown">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle property-type-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Tipo de propiedad
      <span class="form-select"> Selecciona el tipo de propiedad </span>
    </button>
    <ul
      class="dropdown-menu property-type-menu"
      aria-labelledby="dropdownMenuButton1"
    >
      <li><a class="dropdown-item" href="#">Casa</a></li>
      <li>
        <a class="dropdown-item" href="#">Departamento</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Terreno residencial</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Terreno comercial</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Terreno industrial</a>
      </li>
      <li><a class="dropdown-item" href="#">Local</a></li>
      <li><a class="dropdown-item" href="#">Oficina</a></li>
      <li>
        <a class="dropdown-item" href="#">Bodega industrial</a>
      </li>
      <li><a class="dropdown-item" href="#">Edificio</a></li>
      <li><a class="dropdown-item" href="#">Otros</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle country-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      País
      <span class="form-select"> Ej. Mexico, Estados Unidos </span>
    </button>
    <ul
      class="dropdown-menu country-menu"
      aria-labelledby="dropdownMenuButton2"
    >
      <li><a class="dropdown-item" href="#">México</a></li>
      <li>
        <a class="dropdown-item" href="#">Estados Unidos</a>
      </li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle state-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Estado
      <span class="form-select"> Selecciona un estado </span>
    </button>
    <ul class="dropdown-menu state-menu" aria-labelledby="dropdownMenuButton3">
      <li><a class="dropdown-item" href="#">Sonora</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle municipality-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Municipio
      <span class="form-select"> Selecciona un municipio </span>
    </button>
    <ul
      class="dropdown-menu municipality-menu"
      aria-labelledby="dropdownMenuButton4"
    >
      <li><a class="dropdown-item" href="#">Hermosillo</a></li>
      <li><a class="dropdown-item" href="#">San Carlos</a></li>
    </ul>
  </div>
  <div class="col d-flex align-items-center property-filter__btn-search">
    <button type="button" class="btn btn-invien px-4">Buscar</button>
  </div>
</form>
