<form class="property-filter">
  <div class="dropdown col">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle property-type-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Precio
      <span class="form-select"> Selecciona el rango de precio </span>
    </button>
    <ul
      class="dropdown-menu property-type-menu"
      aria-labelledby="dropdownMenuButton1"
    >
      <li><a class="dropdown-item" href="#">Menos de 200</a></li>
      <li><a class="dropdown-item" href="#">Entre 200 MXN y 500 MXN</a></li>
      <li>
        <a class="dropdown-item" href="#">Entre 500MXN y 1.000 MXN</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Entre 1.000 MXN y 3.000 MXN</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Más de 3.000 MXN</a>
      </li>
    </ul>
  </div>
  <div class="dropdown col">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle country-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Cantidad de habitaciones
      <span class="form-select">Seleccione la cantidad</span>
    </button>
    <ul
      class="dropdown-menu country-menu"
      aria-labelledby="dropdownMenuButton2"
    >
      <li><a class="dropdown-item" href="#">Entre 1 y 3 habitaciones</a></li>
      <li>
        <a class="dropdown-item" href="#">Entre 3 y 7 habitaciones</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Más de 7 habitaciones</a>
      </li>
    </ul>
  </div>
  <div class="dropdown col">
    <button
      class="btn property-filter__btn-toggle dropdown-toggle state-dropdown"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Tamaño de terreno
      <span class="form-select"> Selecciona el tamaño </span>
    </button>
    <ul class="dropdown-menu state-menu" aria-labelledby="dropdownMenuButton3">
      <li><a class="dropdown-item" href="#">Menos de 10m2</a></li>
      <li><a class="dropdown-item" href="#">Entre 10m2 y 20m2</a></li>
      <li><a class="dropdown-item" href="#">Entre 20m2 y 50m2</a></li>
      <li><a class="dropdown-item" href="#">Más 100m2</a></li>
    </ul>
  </div>
  <div class="d-flex align-items-center property-filter__btn-search">
    <button type="button" class="btn btn-invien px-4">Buscar</button>
  </div>
</form>
