@use "../../../styles/mixins" as *;

.advisers {
  &__main {
    background-image: url(./../../../assets/images/advisors.png);
  }
  &__team {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__team-title {
    text-align: center;
  }
  &__list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    max-width: 1100px;
    margin: 1rem auto;
    padding: 1rem;
  }
}
