<article class="sell-property">
  <div class="sell-property__main">
    <h1 class="sell-property__title">
      Vende tu Propiedad con
      <span class="sell-property__title--custom">
        In<img src="./assets/icons/check.png" alt="check" />ien
      </span>
    </h1>
  </div>
  <div class="sell-property__info">
    <figure class="col">
      <img src="./assets/images/rating.png" alt="" />
    </figure>
    <div class="sell-property__info-info col">
      <h2>Nosotros Nos Ocupamos</h2>
      <div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Seguridad & Confianza</span>
        </div>
        <span class="sell-property__info-desc">
          Te acompañamos en cada paso, asegurando una venta segura y
          transparente.
        </span>
      </div>
      <div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span>Conseguimos el mejor precio</span>
        </div>
        <span class="sell-property__info-desc">
          Analizamos el mercado para obtener la mejor oferta por tu propiedad.
        </span>
      </div>
    </div>
  </div>
</article>
