<article class="sell-property">
  <div class="sell-property__main main">
    <h1 class="sell-property__title">
      <ng-container i18n="@@sell-property-title">
        Vende tu Propiedad con
      </ng-container>
      <span>
        <img
          class="sell-property__logo-text"
          src="./assets/images/logo-text.png"
          alt="logo-text"
        />
      </span>
    </h1>
  </div>
  <div class="section">
    <h2 class="title mb-5" i18n="@@advisors-subtitle">
      Tu Propiedad En Las Mejores Manos
    </h2>
    <div class="sell-property__info">
      <div>
        <p class="sell-property__title-desc" i18n="@@our-services-title">
          Valoración profesional
        </p>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-analisys">Análisis exhaustivo</span>
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-inspection">Inspección profesional</span>
        </div>
      </div>
      <div>
        <p class="sell-property__title-desc" i18n="@@our-services-global">
          Alcance global
        </p>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-exclusive">Eventos exclusivos</span>
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-access"
            >Acceso a compradores calificados</span
          >
        </div>
      </div>
      <div>
        <p class="sell-property__title-desc">Marketing</p>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-personal">Plan personalizado</span>
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-professional"
            >Fotografía y video profesional</span
          >
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-promotion">Publicidad</span>
        </div>
      </div>
      <div>
        <p
          class="sell-property__title-desc"
          i18n="@@our-services-comprehensive"
        >
          Gestion integral
        </p>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-legal-notary"
            >Asesoría legal y notarial</span
          >
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-negotiation">Negociación y cierre</span>
        </div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@our-services-post-sale">Seguimiento post-venta</span>
        </div>
      </div>
    </div>
  </div>
</article>
