<article class="sell-property">
  <div class="sell-property__main main">
    <h1 class="sell-property__title">
      <ng-container i18n="@@sell-property-title">
        Vende tu Propiedad con
      </ng-container>
      <span>
        <img
          class="sell-property__logo-text"
          src="./assets/images/logo-text.png"
          alt="logo-text"
        />
      </span>
    </h1>
  </div>
  <div class="sell-property__info section">
    <figure class="col">
      <img src="./assets/images/sell-us.png" alt="" />
    </figure>
    <div class="sell-property__info-info col">
      <h2 class="title" i18n="@@sell-property-take">Nosotros Nos Ocupamos</h2>
      <div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@sell-property-security">Seguridad & Confianza</span>
        </div>
        <span class="sell-property__info-desc" i18n="@@sell-property-accompany">
          Te acompañamos en cada paso, asegurando una venta segura y
          transparente.
        </span>
      </div>
      <div>
        <div class="sell-property__info-item">
          <img src="./assets/icons/check.png" alt="" />
          <span i18n="@@sell-property-get">Conseguimos el mejor precio</span>
        </div>
        <span class="sell-property__info-desc" i18n="@@sell-property-analyze">
          Analizamos el mercado para obtener la mejor oferta por tu propiedad.
        </span>
      </div>
    </div>
  </div>
</article>
