@use "../../../styles/mixins" as *;

.sell-property {
  &__main {
    padding: 1rem;
    background-image: url(./../../../assets/images/sell-property.png);
    background-size: cover;
    background-position-y: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    font-size: 3.7rem;
    color: #fff;
    font-weight: 400;
    font-family: gilroy-bold;
    max-width: 730px;
    &--custom {
      font-size: 3.7rem;
      white-space: nowrap;
      > img {
        position: sticky;
        margin-right: -2rem;
        margin-top: -1.5rem;
        z-index: 2;
        max-width: 4rem;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
    @include screen(small) {
      flex-direction: row;
      align-items: center;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      > h2 {
        font-size: 2.6rem;
        font-family: bell;
      }
    }
    &-item {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1rem;
      > img {
        width: 1.5rem;
        height: 1.5rem;
      }
      > span {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    &-desc {
      display: block;
      max-width: 400px;
      color: #4b4b4b;
      font-size: 0.88rem;
    }
  }
}
